{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    
    <div class="main container">
        <div class="page-header">
            <h2>View</h2>
        </div>
        
        <p> <b>Usuario:</b> {{users.firstName}} con email {{users.email}} </p>
        
        <div>
            <a href="{{ path('jrc_user_index') }}" class="btn btn-sm btn-danger btn-delete">... volver</a>
        </div>
    </div>

{% endblock%}

